<div class="new-main">
  <div class="new-content">
    <p class="page-title">
      Edit
    </p>
    <h1 class="subtitle">
      編集
    </h1>
  </div>
  <div class="wide-content-article">
    <article class="article">
      <p class="article-content">
      </p>
      <br class="clear">
      <div class="wpcf7">
      <div class="error-form">
        <%= form_for(@spot) do |f| %>
        <% if @spot.errors.any? %>
              <h3 class="error">
                入力した内容にエラーが<%= @spot.errors.count %>件あります
              </h3>
              <ul class="error-point">
                <% @spot.errors.full_messages.each do |message| %>
                  <li class="error-point-item">
                    <p class="message">
                      <%= message %>
                    </p>
                  </li>
                <% end %>
              </ul>
            <% end %>
            </div>
          <div class="place-space">
            <%= f.label :place, "場所名", {class: 'place-logo'} %>
            <%= f.text_field :place,:placeholder => "例: 東京スカイツリー", class: "place" %>
          </div>
          <div class="address-space">
            <%= f.label :address, "場所", {class: 'address-logo'} %>
            <%= f.text_area :address,:placeholder => "例:　東京都墨田区", class: "address" %>
          </div>
          <div class="impression-space">
            <%= f.label :one_word, "ひとこと", {class: 'impression-logo'} %>
            <%= f.text_field :one_word,:placeholder => "例:　見上げた迫力がすごい", class: "impression" %>
          </div>
          <div class="thought-space">
            <%= f.label :thought, "感想", {class: 'thought-logo'} %>
            <%= f.text_area :thought,:placeholder => "自分が思ったことを何でもいいので書いてください。", class: "thought" %>
          </div>
          <div class="image-area">
            <%= f.label :image, "写真", {class: 'image-logo'} %>
            <%= f.file_field :image, class: "image" %>
          </div> 
          <div class="send">
            <%= f.submit  "Send", class: "send-buttom" %>
          </div>
        <% end %>
      </div>
    </article>
  </div>
</div>